<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
	<a class="navbar-brand" href="#back">iReava</a>
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
  
    <div class="navbar-collapse collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right" style="font-size:16px;font-family: 'Raleway', monospace">
      <li><a href="#back" data-toggle="collapse" class="hvr-underline-from-center ">Home</a></li>
      <li><a href="#about" data-toggle="collapse" class="hvr-underline-from-center">About</a></li>
      <li><a href="#testimonials" data-toggle="collapse" class="hvr-underline-from-center">Testimonials</a></li>
      <li><a href="#team" data-toggle="collapse" class="hvr-underline-from-center">Our Team</a></li>
      <li><a href="#contact" data-toggle="collapse" class="hvr-underline-from-center">Contact us</a></li>
    </ul>
    </div>
  </div>
</nav>
