<div class="container" id="back">
<br>
<br>
<br>
<br>
<div class="row" >
<div class="col-md-12 col-sm-12" id="hone">
<h1 class="text-center">Times of College</h1></div>
<div class="col-md-12 col-sm-12" id="hthree">
<h3 class="text-center">We provide you elite services!</h3></div>
</div>
<div class="text-center">
<button id="tooltip"onclick="window.location.href='joinus.html'" type="button" class="btn boton bottn1 wow slideInUp">Join Us<span class="tooltiptext" >Register for service</span></button>
<button id="tooltip" type="button" class="btn boton bottn2 wow slideInUp" onclick="window.location.href='login.html'">Sign In<span class="tooltiptext">Already Registered!</span></button>
</div>
</div>